<div class="container mx-auto h-[calc(100vh-5rem)] flex">
  <div class="w-60 items-stretch bg-white shadow">
    <app-side-panel [user]="loginService.user()!"></app-side-panel>
  </div>

  <div class="flex-1 p-4 overflow-auto">
    <h1 class="text-3xl font-bold text-center">COST CENTER</h1>
    <button
      class="float-end px-2 py-1 mb-2 bg-green-500 text-white rounded hover:bg-green-600 cursor-pointer transition"
      (click)="addCC()"
    >
      Add CC
    </button>
    <app-cost-center-table
      [costCenters]="costCenters()"
      (editCCEvent)="editCC($event)"
    ></app-cost-center-table>
  </div>
</div>

@if (currentCC() != null) {
<app-cost-center-modal
  [cc]="currentCC()!"
  (closeModatEmitter)="$event == true ? getCCs() : currentCC.set(null)"
></app-cost-center-modal>
}
